<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/E-Shop</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
               
               
        <!-- mappings for annotated classes -->
        <mapping class="neu.edu.coe.model.Address"/>
        <mapping class="neu.edu.coe.model.Admin"/>
        <mapping class="neu.edu.coe.model.Cart"/>
        <mapping class="neu.edu.coe.model.CartItem"/>
        <mapping class="neu.edu.coe.model.Category"/>
        <mapping class="neu.edu.coe.model.Color"/>
        <mapping class="neu.edu.coe.model.Comment"/>
        <mapping class="neu.edu.coe.model.Feeling"/>
        <mapping class="neu.edu.coe.model.Order"/>
        <mapping class="neu.edu.coe.model.OrderItem"/>
        <mapping class="neu.edu.coe.model.Product"/>
        <mapping class="neu.edu.coe.model.Shape"/>
        <mapping class="neu.edu.coe.model.Smell"/>
        <mapping class="neu.edu.coe.model.Texture"/>
        <mapping class="neu.edu.coe.model.Touching"/>
        <mapping class="neu.edu.coe.model.User"/>
        
    </session-factory>
</hibernate-configuration>
